<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section" th:fragment="about">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center"
                            style="background-image:url(images/bg_1.png);">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <h1 class="big">Acerca</h1>
                            <h2 class="mb-4">Acerca de mi</h2>
                            <p>Hola soy Rubén y disfruto crear cosas que están en internet. Mi interés por el desarrollo
                                web comenzó averiguando como funciona la tecnología que todos utilizamos en la
                                actualidad he avanzado bastante en este campo y me encantaría compartir el conocimiento
                                que he recopilado.</p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Nombre:</span> <span>Rubén Velázquez Flores</span></li>
                                <li class="d-flex"><span>Edad:</span> <span>22 años</span></li>
                                <li class="d-flex"><span>Dirección:</span> <span>Tecamác, Edo. de México</span></li>
                                <li class="d-flex"><span>Correo:</span> <span>rubenvelazquez24@hotmail.com</span></li>
                                <li class="d-flex"><span>Telefono: </span> <span>(+52)5621577050</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <div class="text">
                            <p class="mb-4">
                                <span class="number" data-number="120">0</span>
                                <span>Project complete</span>
                            </p>
                            <p><a href="/CV_VelazquezFloresRuben.pdf" class="btn btn-primary py-3 px-3">Ver CV</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>