<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section" th:fragment="contact">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Contacto</h1>
                    <h2 class="mb-4">Contacto</h2>
                    <!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        -->
                </div>
            </div>

            <div class="row d-flex contact-info mb-5">
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-map-signs"></span>
                        </div>
                        <h3 class="mb-4">Direccion</h3>
                        <p>Tecamac,Estado de Mexico</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-phone2"></span>
                        </div>
                        <h3 class="mb-4">Numero de contacto</h3>
                        <p><a href="tel://5612577050">5612577050</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-paper-plane"></span>
                        </div>
                        <h3 class="mb-4">Correo electronico</h3>
                        <p><a href="mailto:rubenvelazquez24@hotmail.com">rubenvelazquez24@hotmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-globe"></span>
                        </div>
                        <h3 class="mb-4">Website</h3>
                        <p><a href="http://rubenvelazquez.com">rubenvelazquez.com</a></p>
                    </div>
                </div>
            </div>
            <!--
                <div class="row no-gutters block-9">
                    <div class="col-md-6 order-md-last d-flex">
                        <form action="#" class="bg-light p-4 p-md-5 contact-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Asunto">
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control"
                                    placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
    
                    </div>
                    -->
            <div class="col-md-6 d-flex">
                <div class="img" style="background-image: url(images/about.jpg);"></div>
            </div>
        </div>
        </div>
    </section>

</body>
</html>