<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  
    <section class="ftco-section ftco-project" id="projects-section" th:fragment="projects">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Proyectos</h1>
                    <h2 class="mb-4">Mis proyectos</h2>
                    <!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(images/notas-thymeleaf.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Springboot(java) &amp; Bootstrap Mysql</a></h3>
                            <span>Web</span>
                            <h3><a href="https://github.com/RubensVF/notes-thymeleaf">code</a></h3>
                            <h3><a href="http://notes.rubenvelazquez.com/login">demo</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(images/skateshop.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Threejs &amp; modelo 3d</a></h3>
                            <span>Web 3D</span>
                            <h3><a href="https://github.com/RubensVF/skateshop">code</a></h3>
                            <h3><a href="http://skateshop.rubenvelazquez.com/customize">demo</a></h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(images/inmobiliaria.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">
                            <h3><a href="#">Reactjs MaterialUI &amp; Java(Springboot) Mysql </a></h3>
                            <span>Web</span>
                            <h3><a href="https://github.com/RubensVF/inmobiliaria-client">code</a></h3>
                            <h3><a href="https://www.youtube.com/watch?v=AqwEmR5z89c">demo</a></h3>
                        </div>
                    </div>

                    <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                        style="background-image: url(images/blog.png);">
                        <div class="overlay"></div>
                        <div class="text text-center p-4">

                            <h3><a href="#">Nextjs MaterialUI &amp; Java(Springboot) Mysql</a></h3>
                            <span>Web</span>
                            <h3><a href="https://github.com/RubensVF/blog">code</a></h3>
                            <h3><a href="https://www.youtube.com/watch?v=pwctCzXzV1E">demo</a></h3>
                        </div>
                    </div>
                </div>
                <!--
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                                    style="background-image: url(images/project-2.jpg);">
                                    <div class="overlay"></div>
                                    <div class="text text-center p-4">
                                        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="project img ftco-animate d-flex justify-content-center align-items-center"
                                    style="background-image: url(images/project-3.jpg);">
                                    <div class="overlay"></div>
                                    <div class="text text-center p-4">
                                        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                                        <span>Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
            </div>
        </div>
    </section>
</body>
</html>