<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section class="ftco-section ftco-no-pb" id="resume-section" th:fragment="resume">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <h1 class="big big-2">Resumen</h1>
                    <h2 class="mb-4">Resumen</h2>
                    <!--<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                            is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2014-2017</span>
                        <h2>Tecnico en sistemas de control electrico.</h2>
                        <span class="position">Cecyt No.3 Instituto Politécnico Nacional</span>
                    </div>
                    <div class="resume-wrap ftco-animate">
                        <span class="date">2017-2022(Pasante)</span>
                        <h2>Lic. Física y Matemáticas</h2>
                        <span class="position">Escuela Superior de Física y Mátematicas Instituto Politécnico
                            Nacional</span>

                    </div>
                </div>


            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-md-6 text-center ftco-animate">
                    <p><a href="/CV_VelazquezFloresRuben.pdf" download="/CV_VelazquezFloresRuben.pdf"
                            class="btn btn-primary py-4 px-5">Descargar CV</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>