<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <footer class="ftco-footer ftco-section" th:fragment="footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Acerca de </h2>
                        <!--
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                        -->
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a
                                    href="https://www.linkedin.com/in/rub%C3%A9n-vel%C3%A1zquez-flores-a7ab7522a/"><span
                                        class="icon-linkedin"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/rubenspensky/"><span
                                        class="icon-instagram"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.github.com/rubensvf/"><span
                                        class="icon-github"></span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="/#home-section"><span class="icon-long-arrow-right mr-2"></span>Inicio</a></li>
                            <li><a href="/#resume-section"><span class="icon-long-arrow-right mr-2"></span>Acerca</a>
                            </li>
                            <li><a href="/#services-section"><span
                                        class="icon-long-arrow-right mr-2"></span>Servicios</a></li>
                            <li><a href="/#projects-section"><span
                                        class="icon-long-arrow-right mr-2"></span>Proyectos</a></li>
                            <li><a href="/#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Servicios</h2>
                        <ul class="list-unstyled">
                            <li><span class="icon-long-arrow-right mr-2"></span>Diseño web</li>
                            <li><span class="icon-long-arrow-right mr-2"></span>Desarollo web</li>
                            <li><span class="icon-long-arrow-right mr-2"></span>Analisis de datos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">¿Tienes preguntas?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Tecamac,Edo. de México,
                                        México</span></li>
                                <li><a href="tel://5612577050"><span class="icon icon-phone"></span><span
                                            class="text">(+52)5612577050</span></a></li>
                                <li><a href="mailto:rubenvelazquez24@hotmail.com"><span
                                            class="icon icon-envelope"></span><span
                                            class="text">rubenvelazquez24@hotmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>

        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00" />
            </svg></div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.easing.1.3.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/aos.js"></script>
        <script src="/js/jquery.animateNumber.min.js"></script>
        <script src="/js/scrollax.min.js"></script>

        <script src="/js/main.js"></script>
    </footer>

</body>

</html>