<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragment/head.html :: head(Title='Blog')">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <nav th:replace="fragment/navbar.html :: navbar"></nav>



    <section class="ftco-section" id="blog-section" th:fragment="blog">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-4 d-flex ftco-animate" th:each="post : ${posts}">
                    <div class="blog-entry justify-content-end" th:fragment="card(date,title,description,image,slug)">

                        <a href="/admin/newpost" class="block-20"
                            style="background-image: url('/images/docker.jpg');">
                        </a>
                        <div class="text mt-3 float-right d-block">
                            <h3 class="heading"><a href="/admin/newpost">Create a New Post today let's go</a>
                            </h3>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex ftco-animate" th:each="post : ${posts}">
                    <div
                        th:replace="fragment/admin/card.html :: card(id=${post.id},date=${post.getTime()},title=${post.title},description=${post.description},image=${post.image},slug=${post.slug})">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragment/footer.html :: footer"></footer>






</body>

</html>