<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

  <div class="card card-primary" th:fragment="card(id,demo,description)">

    <div class="card-header">
      <a class="card-title" th:href="${demo}">Demo</a>
    </div>
    <div class="card-body">

      <p class="card-text" th:text="${description}">
        Description
      </p>
    </div>
    <div class="card-footer">
      <a th:href="@{/admin/editproject(id=${id})}" class="card-link">Edit post</a>
      <a th:href="@{/admin/deleteproject(id=${id})}" class="card-link">Delete post</a>
    </div>
  </div>

  </div>

</body>

</html>